# Vagrant stuff
acceptance_config.yml
boxes/*
/Vagrantfile
/.vagrant

# Bundler/Rubygems
*.gem
.bundle
pkg/*
tags
/Gemfile.lock
test/tmp/

/bin

# Documentation
_site/*
.yardoc/
doc/

# Website: docs
website/docs/.sass-cache
website/docs/build
website/docs/Rakefile

# Website: www
website/www/.sass-cache
website/www/build
website/www/Rakefile

# Dynamically created file
/salt/railsapp/files
/pillar/application.sls

# See: https://gist.github.com/ianheggie/9327010
# for Global git ignore for OS/IDE/temp/backup files
